<template bindable="watchdog">
  <a
    class="list-group-item">
    <p if.bind="watchdog.keyPhrase">Key phrase - ${watchdog.keyPhrase}</p>
    <p >Start date - ${watchdog.startDate}</p>
    <p if.bind="watchdog.endDate">End date - ${watchdog.endDate}</p>
    <p if.bind="watchdog.authors.length">Authors - ${watchdog.authors}</p>
    <p if.bind="watchdog.genres.length">Genres - ${watchdog.genres}</p>
    <p if.bind="watchdog.venues.length">Venues - ${watchdog.venues}</p>
    <button click.delegate="removeWatchdog(watchdog.id)">
      Remove
    </button>
  </a>
</template>
