<template>
  <div class="list-group">
    <div
      style="cursor: pointer;"
      repeat.for="perf of performances"
      click.delegate="selectPerformance(perf.id)"
      class="list-group-item
        list-group-item-action
        flex-column
        align-items-start
        ${selectedId === perf.id ? 'active' : ''}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" innerhtml.bind="perf.author.name"></h5>
      </div>
      <p class="mb-1" innerhtml.bind="perf.name"></p>
    </div>
  </div>
</template>
