<template>
   <!--Grid row-->
   <div class="row">
       <h3 if.bind="suggestions.size > 0">
         More events featuring the same composers
       </h3>
       <!--Grid column-->
       <div repeat.for="suggestion of suggestions" class="col-lg-4 col-md-12 mb-4">

           <!--Card-->
           <div class="card">

               <!--Card image-->
               <div class="view overlay hm-white-slight">
                   <img src="${suggestion.imageUrl}" class="img-fluid" alt="${suggestion.name}">
                   <a href="#">
                       <div class="mask"></div>
                   </a>
               </div>

               <!--Card content-->
               <div class="card-body">
                   <!--Title-->
                   <h4 class="card-title">${suggestion.name}</h4>
                   <!--Text-->
                   <p class="card-text">${suggestion.description}</p>
                   <button
                     click.delegate="navigateToGig(suggestion.id)"
                     class="btn btn-primary">
                     More
                   </button>
               </div>

           </div>
           <!--/.Card-->

       </div>
       <!--Grid column-->

   </div>
   <!--Grid row-->
</template>
